* {
    padding: 0;
    margin: 0;
}

body {
    background: #f1f1f1;
}

.content {
    left: 50%;
    margin: 0 0 0 -250px;
    position: absolute;
    width: 500px;
    background: red;
}

h2 {
    margin-top: 20px;
    font-size: 32px;
    text-transform: uppercase;
}

.btn-prev, .btn-next {
    position: absolute;
    top: 50%;
    height: 32px;
    width: 32px;
    line-height: 32px;
    margin-top: -16px;
    border: 2px solid #cbd1d2;
    border-radius: 50%;
    color: #cbd1d2;
    font-size: 16px;
    font-weight: bold;
}

.btn-prev {
    left: 80px;    
}

.btn-next {
    right: 80px;    
}

.btn-prev:hover, .btn-next:hover {
    background: #cbd1d2;
    color: #f9f9f9;
}
