* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

body {
    background: #f1f1f1;
}

.content {
    left: 50%;
    margin: 0 0 0 -250px;
    position: absolute;
    width: 500px;
}

.calendar {
    text-align: center;
}

.content .calendar header {
    position: relative;
}

h2 {
    margin-top: 20px;
    font-size: 32px;
    text-transform: uppercase;
}

.btn-prev, .btn-next {
    position: absolute;
    top: 50%;
    height: 32px;
    width: 32px;
    line-height: 32px;
    margin-top: -16px;
    border: 2px solid #cbd1d2;
    border-radius: 50%;
    color: #cbd1d2;
    font-size: 16px;
    font-weight: bold;
}

.btn-prev {
    left: 80px;    
}

.btn-next {
    right: 80px;    
}

.btn-prev:hover, .btn-next:hover {
    background: #cbd1d2;
    color: #f9f9f9;
}

.calendar table {
    margin-top: 20px;
    border-collapse: collapse;
}

.calendar thead {
    background: white;
    font-weight: 600;
    text-transform: uppercase;
}

.calendar td {
    border: 1px solid #cbd1d2;
    height: 71.4px;
    text-align: center;
    width: 71.4px;
}

.calendar tbody td:hover {
    cursor: pointer;
    background: rgba(0, 173, 223, 0.8);
    color: #f9f9f9;
}

.calendar table .current-day {
    background: #00addf;
    color: #f9f9f9;
}

.calendar .prev-month, .calendar .next-month {
    color: #cbd1d2;
}

.calendar .prev-month:hover, .calendar .next-month:hover {
    background: #98a0a0;
}

.event {
    position: relative;
}

.event:after {
    content: '';
    width: 7px;
    height: 7px;
    left: 50%;
    bottom: 7px;
    margin: -3.5px 0 0 -3.5px;
    background: #00addf;
    display: block;
    position: absolute;
    border-radius: 50%;
}

.event:hover::after {
    background: #f9f9f9;
}

.event.current-day:after {
    background: #f9f9f9;
}